@import '../../../style-variables.scss';

.controls {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw 3vw 10vw;
    box-sizing: border-box;

    $button-padding: 3vh;

    .button-wrapper {
        padding: $button-padding;
        background-color: #ffffff55;
        border-radius: 50%;
        border: 5px solid #ffffffaa;
        cursor: pointer;
    }

    $button-size: 10vh;

    .skill {
        height: $button-size;
        width: $button-size;
        background: url(../../../img/skill.png);
        background-size: cover;
    }

    .inventory {
        height: $button-size;
        width: $button-size;
        background: url(../../../img/backpack.png);
        background-size: cover;
    }

    .exclamation {
        height: 6vh;
        width: 6vh;
        background: url(../../../img/exclamation.png);
        background-size: cover;
        position: absolute;
        margin-left: 6.5vh;
        margin-top: -12.5vh;
    }

    .character {
        height: $button-size;
        width: $button-size;
        background: url(../../../img/char.png);
        background-size: cover;
    }
}