@import '../../style-variables.scss';

.skill-tree {
    border-top: 4px solid $border;
    padding: 20px 0;
    background-color: #0d4a6b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-layer {
    display: flex;
    justify-content: center;
    width: 400px;
}

.skill-tree-item {
    border: 1px solid $border;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    width: 100px;
    height: 100px;
    cursor: pointer;

    h3 {
        margin: 0;
    }
}

.skill-tree-activated {
    background-color: #057b1f;
}