.selected-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-inner {
    display: flex;
    flex-direction: column;
}

.selected-info {
    flex-grow: 2;
}
