.field {
    width: 100%;
    height: 120px;
    background-color: aqua;
    // display: flex;
    // align-items: end;
    // padding-bottom: 10px;
    overflow: hidden;
}

.player {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin-left: 10px;
    margin-top: 10px;
}

.enemy {
    height: 50px;
    width: 50px;
    background-color: black;
    position: relative;
    margin-top: -50px;
}