.action-button {
    font-size: 40px;
    color: #ffffffaa;
    position: absolute;
    right: 30vh;
    top: 30vh;
    height: 40vh;
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff55;
    border-radius: 50%;
    border: 5px solid #ffffffaa;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}