@import './style-variables.scss';

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.game-box {
    width: 500px;
    height: 800px;
    border: 1px solid $border;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
